{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * EmailEditor plugin for Craft CMS 3.x
 *
 * EmailEditor _edit-settings.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2018 Kurious Agency
 * @link      kurious.agency
 * @package   EmailEditor
 * @since     1.0.0
 */
#}
{% extends '_layouts/cp' %}
{% import "_includes/forms" as forms %}
{% set selectedSubnavItem = 'settings' %}
{% set title = (email.id|length) ? "Edit Settings | "~email.title : "Add New" %}
{% set crumbs = [
    { label: "Settings", url: url('email-editor/settings') }, 
] %}

{% set fullPageForm = true %}
{% if email.id|length %}
	{% set saveShortcutRedirect = 'email-editor/settings/email/'~email.id %}
{% endif %}

{% block content %}

<h2>{{ (email.id|length) ? "Edit" : "Add New" }}</h2>

    {{ csrfInput() }}
    {{ redirectInput('email-editor/settings') }}
    {{ forms.hidden({
    name: 'action',
    value: 'email-editor/email/save' })
    }}
 
    {{ forms.hidden({
    label: 'Email ID',
    id: 'emailId',
    name: 'emailId',
    value: email.id ?? '' })
    }}

    {{ forms.textField({
    label: 'Email Title',
    instructions: 'Add email name',
    id: 'title',
    name: 'title',
    value: email.title ?? '',
    require: true, })
    }}

    {{ forms.textField({
    label: 'Email Subject',
    instructions: 'Add email subject',
    id: 'subject',
    name: 'subject',
    value: email.subject ?? '',
    require: true, })
    }}

	{{ forms.textField({
    label: 'Email Handle',
    instructions: 'Add email handle',
    id: 'handle',
    name: 'handle',
    value: email.handle ?? '',
    require: true, })
    }}

    {{ forms.lightswitchField({
    label: 'Enable Email',
    instructions: 'Is this email active?',
    id: 'enabled',
    name: 'enabled',
    on: email.enabled  })
    }}

    {{ forms.hidden({
    label: 'Email Type',
    id: 'emailType',
    name: 'emailType',
    value: email.emailType|length ? email.emailType : 'Custom',
    readonly: true })
    }}

    {{ forms.textField({
    label: 'Email Template',
    id: 'template',
    name: 'template',
    value: email.template|length ? email.template : '_email/custom' })
    }}

    {% include "_includes/fieldlayoutdesigner" with {
        fieldLayout: craft.app.fields.getLayoutByType('kuriousagency\\emaileditor\\elements\\Email\\'~email.handle)
    } only %}

{% endblock %}

{% if email is empty or email.handle is empty %}
    {% js %}
        new Craft.HandleGenerator('#title', '#handle');
    {% endjs %}
{% endif %}